<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Arduino Radar</title>
    {{ js_resources | safe}}
    {{ css_resources | safe }}
</head>

<body>
    <h1>Arduino Radar</h1>

    <div>
        Select Data Source to turn on radar
        <form action="{{ url_for('radar') }}">
            <input type="submit" value="Start Radar" />
        </form>
        <form action="{{ url_for('autopilot', duration=10) }}">
            <input type="submit" value="Start 10sec Autopilot" />
        </form>

    </div>
</body>
</html>